<!DOCTYPE html>
<html>
<head>
  <title>Skrw</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'skrw/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skrw/application', 'data-turbolinks-track' => true %>
</head>
<body class="skrw">

  <% content_for(:skrw_page_controls_primary) do %>
    <%= link_to "Dashboard Control (Primary)", root_path %>
  <% end %>

  <% content_for(:skrw_page_controls_secondary) do %>
    <%= link_to "Page Control (Secondary)", root_path %>
    <%= link_to "Special Page Control (Secondary)", root_path if admin_signed_in? %>
  <% end %>

  <%= user_bar %>
  <%= yield %>

</body>
</html>
