<!DOCTYPE html>
<html>
<head>
  <title>Skrw</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'skrw/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skrw/application', 'data-turbolinks-track' => true %>
</head>
<body>

  <%= user_bar %>
  <%= yield %>

  <%= form_with url: skrw.root_path, local: true, builder: Skrw::FormBuilder do |f| %>
    <%= f.label(:email, "hello", value: 'public', class: 'wtf-again') %>
    <%= f.label(:email, "hello", value: 'public', class: 'wtf-again') %>
  <% end %>

</body>
</html>
