<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:skrw_title) ? content_for(:skrw_title) : "Skrw" %></title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    'skrw/application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'skrw/application', 'data-turbolinks-track' => true %>
</head>
<body class="skrw">

  <%= user_bar %>
  <%= yield %>

</body>
</html>
