<div id="skrw skrw-session" class="skrw skrw-session" data-controller="skrw-session" data-action="ajax:success->skrw-session#flash" data-turbolinks-permanent>

  <div class="skrw-session__inner">
    <% if user_signed_in? %>
      <div>
        <strong><%= current_user.email %></strong> (<%= link_to "logout", skrw.destroy_user_session_path, method: :delete %>)
      </div>

      <% if content_for?(:skrw_controls) %>
        <hr>
        <%= content_tag(:div, content_for(:skrw_controls), class: "skrw-session__controls") %>
      <% end %>

    <% else %>
      <div>Currently no user logged in.</div>
    <% end %>
  </div>

  <div class="skrw-session__handle" data-action="click->skrw-session#toggle"></div>
</div>

<div class="skrw skrw-flash" data-controller="skrw-flash">
  <% if flash.any? %>
    <% flash.each do |name, message| %>
      <div class="<%= name %>"><%= message %></div>
    <% end %>
  <% end %>
</div>
