<div class="skrw skrw-page">
  <h1>Login</h1>

  <%= form_with model: resource, url: user_session_path, data: { controller: "skrw-form" }, local: true do |form| %>

    <%= skrw_form_errors form %>

    <%= form.label :email, "email" %>
    <%= form.email_field :email, autofocus: true, autocomplete: "email" %>

    <%= form.label :password, "password" %>
    <%= form.password_field :password, autocomplete: "current-password" %>

    <%= form.label :remember_me do %>
      <%= form.check_box :remember_me %>remember me?
    <% end %>

    <%= form.submit "login" %>
  <% end %>
</div>
